language: python

python:
  - "2.7"
  - "3.6"

env:
  - TOXENV=py27-1.4.X
  - TOXENV=py27-1.5.X
  - TOXENV=py27-1.6.X
  - TOXENV=py27-1.7.X
  - TOXENV=py27-1.8.X
  - TOXENV=py27-1.9.X
  - TOXENV=py27-1.10.X
  - TOXENV=py27-1.4.X DB=mysql
  - TOXENV=py27-1.5.X DB=mysql
  - TOXENV=py27-1.6.X DB=mysql
  - TOXENV=py27-1.7.X DB=mysql
  - TOXENV=py27-1.8.X DB=mysql
  - TOXENV=py27-1.9.X DB=mysql
  - TOXENV=py27-1.10.X DB=mysql
  - TOXENV=py36-1.10.X DB=mysql
  - TOXENV=py27-1.4.X DB=postgres
  - TOXENV=py27-1.5.X DB=postgres
  - TOXENV=py27-1.6.X DB=postgres
  - TOXENV=py27-1.7.X DB=postgres
  - TOXENV=py27-1.8.X DB=postgres
  - TOXENV=py27-1.9.X DB=postgres
  - TOXENV=py27-1.10.X DB=postgres
  - TOXENV=py36-1.10.X DB=postgres
  - TOXENV=flake8

install:
  - pip install -q tox-travis

before_script:
  - mysql -e 'create database sendgrid;'
  - psql -c 'create database sendgrid;' -U postgres

script:
    - tox
